# dependencies
/node_modules

# production
/build
/dist

# misc
.DS_Store
.env
.env.*       # ignore all env variants like .env.local, .env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# optional npm cache
.npm

# testing
/coverage
/jest-test-results.json

# Parcel-bundler cache
.cache

# ESLint cache
.eslintcache

# Mac system files
*.DS_Store

# Storybook
.out

# Optional next.js
.next

# Binaries
*.exe
*.out
*.app

# GitHub Actions logs
*.log
